
@font-face {
  font-family: myFirstFont;
  src: url(https://fonts.googleapis.com/css?family=Great+Vibes);
}
body {
    padding: 20px;
    background-color: lightblue;
    font-family: myFirstFont;
}




* {
    box-sizing: border-box;
}

/* Header/Blog Title */
.header {
    padding: 30px;
    font-size: 30px;
    text-align: center;
    background: coral;
    border-radius: 5px;
    margin-top: 20px;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;

}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 75%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 30px;
}

.my_navbar {
    background-color: dimgray;
}

.navbar-items {
    color: black;
}

.my-navbar-items {

    margin: 5px 10px 5px 10px;
}

.comment {
    background: aliceblue;
    border: brown solid thin;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.left-column-profile {
    float: left;
    width: 25%;
    padding-left: 30px;
}

.leftcolumn-followers {
    float: left;
    width: 50%;
    padding: 5px;
    background: beige;
}

.leftcolumn-followers img {
    border-radius: 20%;
}

.rightcolumn-followings {
    float: left;
    width: 50%;
    padding: 5px;
    background: beige;
}

.rightcolumn-followings img {
    border-radius: 20%;
}

/*.friend-account {*/
/*border: brown thin solid;*/
/*align-content: center;*/
/*}*/

li {
    margin: 5px;
    background-color: cornsilk;
    border-radius: 5px;
}

h2 {
    background-color: khaki;
}

p {
    font-size: larger;
}