.profile_page {
    text-align: center;
    background-color: bisque;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}

.profile_page img {
    border-radius: 5%;
}

.change_image {
    text-align: center;
}

.change_image button {
    padding: 15px;
    margin: 5px;
    background-color: aqua;
    border-radius: 5px;
}

.column_buttons {
    margin: 5px;

}

.change-image-buttons {
    border: thick solid black;
    padding: 10px;
    text-align: center;
}

.change-contract-range {
    border: thin solid dimgray;
    padding: 5px;
}

.text-post {
    border: thin solid coral;
    background-color: blanchedalmond;

}

.my_form {
    background-color: khaki;
}

.user-row {
    height: 33.33%;
    padding: 10px;
    border: thick solid dodgerblue;
    text-align: center;
    background-color: cornsilk;
    border-radius: 10px;
    margin: 10px;
}

#follow-button {
    padding: 15px;
    margin: 5px;
    background-color: aqua;
    border-radius: 5px;
}

#edit-profile {
    padding: 15px;
    margin: 5px;
    background-color: aqua;
    border-radius: 5px;
}

.all-comment {
    text-align: left;
}

.all-comment button {
    padding: 5px;
    margin: 5px;
    background-color: aqua;
    border-radius: 5px;
}

.comment-post {
    border: thin solid blue;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}
