<!DOCTYPE html>
{% extends 'imgProcess/base.html' %}
{% block body_block %}
    <h2>Users:</h2>
    {% if users %}
        <div class="column">
            {% for user in users.all %}
                <a href="{% url "profile_page" pk=user.user.id %}">
                <div class="user-row" >
                    <img src="{{ user.profile_pic.url }}" width="300" height="300" >
                    <p><b>{{ user.user.first_name }} {{ user.user.last_name }}</b></p>
                </div>
                </a>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}